body {
    font-family: Arial, sans-serif;
    background-image: url(Assets/bgImg.jpg);
    background-size: cover;
}

.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    width: 60%;
    margin-bottom: 10px;
    border-radius: 1rem;
}

button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

button:hover {
    background-color: #0056b3;
    scale: 1.1;
}

#weatherInfo {
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    border-radius: 1rem;
    box-shadow: 10px 10px 15px rgba(11, 11, 11, 0.4);
}

h1 {
    color: rgb(132, 75, 0);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
}
